.myPhoto{
    border: 2px solid whitesmoke;
    border-radius:50%;
}

.header-section{
    /* background-image: linear-gradient(to right, #243949 0%, #517fa4 100%); */
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
}